.ContainerSecretarioPagina{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ff000041;
}

.ContainerSecretarioPagina > div{
    width: 50%;
    height: 100%;
}

.divBotoesSecretario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divBotoesSecretario > button{
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    margin: 10px;
    border: 1px solid #FF0000;
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 0.1rem;
}

.divBotoesSecretario > button:hover{
    background-color: #ffffff3b;
    cursor: pointer;
}